.home-page-container {
    width: 100%;
    height: 100vh;
    background-color: white;
    text-align: center;

}

.StartButton {
    position: absolute;
    top: 50%;
    background-color: #0a0a23;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;

}

.StartButton:active {
    background-color: white;
}